/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
  }
  
  /* shared style */
  .title{
    font-size: 2.8rem;
    font-weight: 700;
  }
  .common-btn{
    padding: 1rem 3.8rem;
    background-color: #FEA301;
    border-radius: 12px;
    font-size: 1.2rem;
    border: none;
    color: #FFFFFF;
    font-weight: 500;
  }
  .common-btn:hover{
    background-color: gray;
    color: black;
    cursor: pointer;
  }
  .desc{
    font-size: 1.2rem;
    padding:  24px 0;
  }
  .chalange-btn, .box-btn{
    color: #FFFFFF;
    border: none;
    padding: 1rem;
    border-radius: 3.1rem;
    background-color: #95B226;
  }
  .bg-1{
    background-color: #3CD8E8;
  }
  .bg-2{
    background-color:  #5D58F0;
  }
  

  /* header starts here  */
  .header{
    max-width: 1160px;
    margin: 0 auto;
  }
  /* navbar */
  .navbar{
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 0;
  }
  #hembargar{
    display: none;
  }
  .nav-title{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .nav-title .title{
    font-size: 2rem;
  }
  .nav-menu{
    display: flex;
    align-items: center;
    gap: 32px;
  }
  .nav-menu li{
    list-style: none;
  }
  .nav-menu a{
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
  }
  .nav-menu li:hover a{
    color: pink;
  }
  .home{
    color: #FEA301;
  }
  .about{
    color: #01ACFD;
  }
  .facilities{
    color: #05D4DF;
  }
  .admission{
    color: #5D58EF;
  }
  .mobile-hr{
    display: none;
  }

  /* banner starts here  */
  .banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
  }
  .banner-title{
    font-size: 3.4rem;
    font-weight: bold;
  }
  .orange{
    color: #FEA301;
  }
  .sky-blue{
    color: #01ACFD;
  }
  .enroll-btn{
    background-color: #111111;
  }
  /* header ends here  */


  /* main starts here  */
  /* curriculum section */
  .curriculum-section{
    background-image: url(assets/bg.png);
    background-size: cover;
    background-position: top;
    text-align: center;
    margin: 3.8rem 0;
  }
  .card-container{
    display: flex;
    justify-content: space-between;
    gap: 1.8rem;
    max-width: 1160px;
    margin: 5rem auto;
  }
  .card{
    text-align: center;
    padding: 10px;
    border-radius: 18px;
    box-shadow: 0 0 28px rgba(0, 0, 0, 0.2);
  }
  .card img{
    padding: 2rem 0;
  }
  .card-title{
    font-size: 2.1rem;
  }
  .read-more{
    padding-top: 15px;
    padding-bottom: 3rem;
    color: #64C8FF;
    font-size: 1.3rem;
  }
  .second .read-more{
    color: #F0AA00;
  }
  .last .read-more{
    color: #8700FF;
  }
  .first{
    background-image: linear-gradient(to bottom, #DEF5FF, white);
  }
  .second{
    background-image: linear-gradient(to bottom, #FFF4DC, #FFFFFF);
  }
  .last{
    background-image: linear-gradient(to bottom, #F2E8FF , white);
  }

  /* stories section starts here  */
  .stories-section{
    padding: 0 0 3.8rem 0;
    text-align: center;
    background-image: url(assets/bg.png);
    background-size: cover;
    background-position: top;
    background-image: linear-gradient(to top, #F8DDAD, #FFFFFF);
    position: relative;
  }
  .background-img{
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .background-img img{
    width: 100%;
  }
  .box-container{
    max-width: 1160px;
    margin: 5rem auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1.1rem;
    text-align: left;
  }
  .first-box, .common-box{
    border-radius: 16px;
    box-shadow: 10px 10px 28px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }
  .first-box{
    grid-column: span 2;
    grid-row: span 2;
  }
  .box-img{
    position: relative;
  }
  .box-img img{
    width: 100%;
  }
  .box-img button{
    position: absolute;
    left: 2rem;
    top: calc(100% - 1.5rem);
  }
  .box-container>div{
    background-color: #FFFFFF;
  }
  .box-desc{
    padding: 2rem;
  }
  .story-1-title{
    font-size: 1.5rem;
    padding: 1.5rem 0;
  }
  .box-title{
    font-size: 1rem;
    padding-top: 1.5rem;
    font-weight: 800;
  }
  .extra-box{
    display: none;
  }
  /* stories section ends here  */
  /* main ends here  */

  /* footer starts here  */
  footer{
    background-color: #01ACFD;
  }
  .footer-container{
    max-width: 1160px;
    margin: 0 auto;
    padding: 8rem 0;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    gap: 3.5rem;
  }
  .education{
    width: 50%;
    color: white;
  }
  .edu-title{
    display: flex;
    gap: 1rem;
  }
  .edu-title h2{
    font-size: 2.5rem;
  }
  .about{
    width: 25%;
  }
  .about-title{
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
  }
  #footer-menu{
    flex-direction: column;
    align-items: start;
    padding-top: 2rem;
  }
  #footer-menu a{
    color: white;
  }
  .media{
    width: 25%;
  }
  .media-container{
    display: flex;
    gap: 1rem;
    padding-top: 2rem;

  }
  marquee{
    padding-top: 2rem;
    font-size: 2rem;
    color: black;
    text-shadow: 3px 2px 2px tomato;
  }
  /* footer ends here  */



  /* mobile responsive here  */
  @media screen and (max-width: 576px) {
    .body{
        padding: 0 .5rem;
    }
    .logo{
        display: none;
    }
    .nav-menu{
        display: none;
    }
    .navbar .common-btn{
        display: none;
    }
    #hembargar{
        display: block;
        font-size: 2rem;
        color: black;
    }
    .mobile-hr{
      display: block;
    }
    /* banner-responsive */
    .banner{
      flex-direction: column-reverse;
    }
    .banner-img img{
      width: 100%;
    }
    .banner-desc{
      text-align: center;
    }
    /* curriculum section */
    .card-container{
      flex-direction: column;
    }
    .braket{
      display: none;
    }
    /* stories section responsive */
    .first-box{
      display: none;
    }
    .extra-box{
      display: block;
    }
    .box-container{
      grid-template-columns: repeat(2, 1fr);
    }
    .box-img button{
      padding: 8px;
      top: calc(100% - 20px);
    }
    /* footer section */
    .footer-container{
      flex-direction: column;
      padding: 8rem 1rem;
    }
    .education, .about, .media{
      width: 100%;
    }
  }